<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <title>Dojo Survey</title>
</head>

<body>
  <main class="container">
    <h1 class="text-center">Dojo Survey</h1>
    <div id="form_div">
      <form action="/result" method="post">
        <div class="form-group">
          <label for="name">Name*:</label>
          <input type="text" class="form-control" id="name" name="name" required />
        </div>
        <div class="form-group">
          <label for="email">Email*:</label>
          <input type="email" class="form-control" id="email" name="email" required />
        </div>
        <div class="form-group">
          <label for="dojo_location">Dojo location:</label>
          <select name="dojo_location" id="dojo_location" required>
            <option value="Chicago">Chicago</option>
            <option value="Seattle">Seattle</option>
            <option value="Online">Online</option>
            <option value="Burbank">Burbank</option>
            <option value="Bellevue">Bellevue</option>
          </select>
        </div>
        <div class="form-group">
          <label for="favorite_language">Favorite Programming Language:</label>
          <select name="favorite_language" id="favorite_language" required>
            <option value="python">python</option>
            <option value="javascript">javascript</option>
            <option value="java">java</option>
            <option value="C#">C#</option>
            <option value="c++">c++</option>
          </select>
        </div>
        <div class="form-group">
          <label for="comment">Comment:</label>
          <textarea name="comment" id="comment" class="form-control" cols="30" rows="10"></textarea>
        </div>
        <button type="submit" class="btn-primary">Submit</button>
      </form>
    </div>
  </main>
</body>

</html>